extends layout

block content
    h1 #{newUser}
    if(type == "error")
        h3.div(class="alert alert-danger") #{message}
    h1 #{newUser}
    if (type == "success" || type === null)
    h3.div(class="alert alert-success" style='color: green;') #{message} #{newUser}! 
